/* Fonts */
@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
font-family: "Poppins";
src: local("Poppins"), url("../../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
font-weight: 500;
}

/* Typography */
.poppins-text-label,
.poppins-text-button,
.frase-imagem-logo {
  font-family: "Poppins", sans-serif;
}

.poppins-text-label {
    font-weight: 500;
    font-size: 16px;
    color: #373737;
  }
  
.poppins-text-button {
    font-weight: 700;
    margin-bottom: 0;
}

.frase-imagem-logo {
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    line-height: 105%;
    letter-spacing: 0.5px;
    text-align: center;
    color: white;
    vertical-align: top;
}

.letter-spacing-text {
    letter-spacing: 0.4px;
}

.letter-spacing-button {
    letter-spacing: 1px;
}

/* Buttons and inputs */
.button-setting,
.input-setting {
    height: 7.2vh !important;
    min-height: 50px;
    width: 100%;
}

.button-font {
    color: #fff;
    font-weight: 700;
}

/* Miscellaneous */
.form-helper-font {
    color: red;
    font-weight: 500;
}

.text-pattern {
    margin-bottom: 0 !important;
}

.fastAnimation {
    animation: run 0s linear;
}

@keyframes run {
    0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}