/* styles.css */
.tippy-box[data-theme~='bubble'] {
    background-color: #e0f2ff; /* azul fofo */
    color: #0a2540;
    font-size: 0.9rem;
    line-height: 1.4;
    border-radius: 16px;
    padding: 10px 14px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    max-width: 260px;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .tippy-box[data-theme~='bubble'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #e0f2ff;
  }
  
  .tippy-box[data-theme~='bubble'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #e0f2ff;
  }
  
  .tippy-box[data-theme~='bubble'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #e0f2ff;
  }
  
  .tippy-box[data-theme~='bubble'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #e0f2ff;
  }
  