@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../../fonts/Poppins/Poppins-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../../fonts/Poppins/Poppins-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../../fonts/Poppins/Poppins-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

.letter-spacing-text{
    letter-spacing: 0.4px;
}

.letter-spacing-button{
    letter-spacing: 1px;
}