@font-face {
  font-family: "Sequel_Light";
  src: local("Sequel"), url("../../fonts/Sequel/sequel-sans-light-disp.otf");
}

@font-face {
  font-family: "Sequel_2";
  src: local("Sequel"), url("../../fonts/Sequel/sequel-sans-heavy-disp-2.otf");
}

@font-face {
  font-family: "Sequel_2";
  src: local("Sequel"), url("../../fonts/Sequel/sequel-sans-heavy-disp-2.otf");
}

.font-dot {
  font-family: "Fira Code", Consolas, 'Courier New', monospace;
  font-size: calc(60px + 2.2vw);
}

.font-dot-space{
  letter-spacing: -0.2em;
}


.font-sequel {
  font-size: calc(50px + 2vw);
  background-clip: text;
  color:transparent;
  font-family: "Sequel_2", sans-serif;
  letter-spacing: 1.2px;
  line-height: 110%;
}

.font-sequel-underline {
  font-size: 2.4vh;
  color: white;
  width: calc(180px + 22vw);
  font-family: "Sequel_Light", sans-serif;
  letter-spacing: 1.2px;
  line-height: 140%;
}

.imagesize {
  padding: 0 1vh 0 0;
  filter: grayscale(100%) contrast(130%);
  height: 5vh;
  transition: 0.5s;
}

.btn-trasn{
  background-color: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.btn-trasn:hover{
  background-color:transparent;
  border: none;
}

.imagesize:hover{
  filter: none;
}

.btn-trasn-w-border {
  background-color: transparent !important;
  color: rgb(220 220 220); 
  border-color: rgb(220 220 220)!important; 
}

.btn-yellow {
  color:  rgb(220 220 220);
  background-color: #eec211 !important;
  border-color: #eec211 !important; 
}

.btn-yellow,
.btn-trasn-w-border {
  font-weight: 600 !important;
  width: 100%;
}

.btn-press-effect {
  background: #8d6e63;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #6d4c41;
  display: inline-block;
  transition: all .2s;
  position: relative;
  cursor: pointer;
}

.btn-press-effect:active {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41;
  transition: all .2s;
}

.btn-tran-effect {
  text-align: center;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
}

.btn-tran-effect:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  right: -40px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}

.btn-tran-effect:hover:before {
  right: 105%;
}

img {
  border-radius: 6%;
}
