.row {
  overflow: auto !important;
}
.form-control {
  height: 85vh;
  width: 10vw;
  display: inline-block;
  min-width: 140px;
  pointer-events: none;
  color: blue;
  font-size: calc(200px + 2.4vw);
  text-align: center;
}
