.row {
  overflow: auto !important;
}
.btnImage {
  display: inline-block;
  min-width: 140px;
  color: blue;
  font-size: calc(200px + 2.4vw);
  text-align: center;
}

.inline {
  display: inline-block;
}

.porBaixo {
  marginleft: 0.1vw;
  height: 100%;
  width: 99%;
}
