@font-face {
  font-family: "Sequel";
  src: local("Sequel"), url("../../fonts/Sequel/sequel-sans-heavy-disp.ttf");
}
@font-face {
  font-family: "Sequel_2";
  src: local("Sequel"), url("../../fonts/Sequel/sequel-sans-heavy-disp-2.otf");
}
.font-sequel {
  color: #61dbfb;
  font-family: "Sequel_2";
  font-size: 9vh;
  letter-spacing: 1.2px;
  line-height: 110%;
}
img {
  border-radius: 6%;
}
